In [3]:
from datetime import datetime

In [2]:
now = datetime.now()

In [3]:
now

datetime.datetime(2016, 2, 5, 10, 14, 49, 159680)

In [4]:
now.year, now.month, now.day

(2016, 2, 5)

In [1]:
from __future__ import division
from pandas import Series, DataFrame
import pandas as pd
from numpy.random import randn
import numpy as np
pd.options.display.max_rows = 12
np.set_printoptions(precision=4, suppress=True)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(12, 4))

In [4]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)

In [5]:
delta

datetime.timedelta(926, 56700)

In [6]:
delta.days

926

In [7]:
delta.seconds

56700

In [8]:
from datetime import timedelta

In [9]:
start = datetime(2011, 1, 7)

In [10]:
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [12]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

In [13]:
stamp = datetime(2011, 1, 3)

In [14]:
str(stamp)

'2011-01-03 00:00:00'

In [19]:
stamp.strftime('%Y-%M-%D')

'2011-00-01/03/11'

In [20]:
value = '2011-01-03'

In [21]:
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [22]:
datestrs = ['7/6/2011', '8/6/2011']

In [23]:
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [29]:
from dateutil.parser import parse

In [30]:
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [33]:
parse('Mar 31, 1997 10:45 PM')

datetime.datetime(1997, 3, 31, 22, 45)

In [35]:
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [36]:
datestrs

['7/6/2011', '8/6/2011']

In [37]:
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06', '2011-08-06'], dtype='datetime64[ns]', freq=None, tz=None)

In [38]:
idx = pd.to_datetime(datestrs + [None])

In [39]:
idx

DatetimeIndex(['2011-07-06', '2011-08-06', 'NaT'], dtype='datetime64[ns]', freq=None, tz=None)

In [40]:
idx[2]

NaT

In [42]:
pd.isnull(idx)

array([False, False,  True], dtype=bool)

In [43]:
from datetime import datetime

In [44]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5), datetime(2011, 1, 7),
         datetime(2011, 1, 8), datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [45]:
ts = Series(np.random.randn(6), index=dates)

In [46]:
ts

2011-01-02    0.040295
2011-01-05    0.092602
2011-01-07    0.812762
2011-01-08    1.150607
2011-01-10    3.150982
2011-01-12   -0.340508
dtype: float64

In [47]:
type(ts)

pandas.core.series.Series

In [48]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None, tz=None)

In [49]:
ts[::2]

2011-01-02    0.040295
2011-01-07    0.812762
2011-01-10    3.150982
dtype: float64

In [50]:
ts.index.dtype

dtype('<M8[ns]')

In [53]:
stamp = ts.index[0]

In [54]:
stamp

Timestamp('2011-01-02 00:00:00')

In [55]:
stamp = ts.index[2]

In [56]:
stamp

Timestamp('2011-01-07 00:00:00')

In [57]:
ts[stamp]

0.81276157942205385

In [60]:
ts['1/10/2011']

3.1509816378526012

In [61]:
longer_ts = Series(np.random.randn(1000),
                   index=pd.date_range('1/1/2000', periods=1000))
longer_ts

2000-01-01    0.643870
2000-01-02   -0.604557
2000-01-03    1.401285
2000-01-04    0.436675
2000-01-05    0.575157
2000-01-06   -0.703056
                ...
2002-09-21    0.265182
2002-09-22    0.462916
2002-09-23    1.005385
2002-09-24    0.618138
2002-09-25    0.234987
2002-09-26    0.010160
Freq: D, dtype: float64

In [64]:
longer_ts['2001']

2001-01-01    0.349427
2001-01-02    0.162854
2001-01-03   -0.775082
2001-01-04    1.865625
2001-01-05   -0.630668
2001-01-06    2.040847
                ...
2001-12-26   -0.872085
2001-12-27   -0.328481
2001-12-28    0.449124
2001-12-29   -0.946729
2001-12-30   -0.406464
2001-12-31   -1.223989
Freq: D, dtype: float64

In [65]:
longer_ts['2001-05']

2001-05-01    1.355183
2001-05-02   -0.016112
2001-05-03    0.174126
2001-05-04   -1.034477
2001-05-05   -1.071033
2001-05-06   -1.029747
                ...
2001-05-26    1.673137
2001-05-27   -0.026375
2001-05-28   -1.406210
2001-05-29    0.054609
2001-05-30    0.015615
2001-05-31   -0.107193
Freq: D, dtype: float64

In [75]:
ts[datetime(2011, 1, 8):]

2011-01-08    1.150607
2011-01-10    3.150982
2011-01-12   -0.340508
dtype: float64

In [76]:
ts

2011-01-02    0.040295
2011-01-05    0.092602
2011-01-07    0.812762
2011-01-08    1.150607
2011-01-10    3.150982
2011-01-12   -0.340508
dtype: float64

In [79]:
ts['1/6/2011': '1/11/2011']

2011-01-07    0.812762
2011-01-08    1.150607
2011-01-10    3.150982
dtype: float64

In [81]:
ts.truncate(after='1/9/2011')

2011-01-02    0.040295
2011-01-05    0.092602
2011-01-07    0.812762
2011-01-08    1.150607
dtype: float64

In [82]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')

In [83]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')
long_df = DataFrame(np.random.randn(100, 4),
                    index=dates,
                    columns=['Colorado', 'Texas', 'New York', 'Ohio'])
long_df.ix['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02  1.947798 -1.168182 -0.491860  0.536114
2001-05-09 -0.935996  0.829218 -2.385757  1.537761
2001-05-16  0.277536 -0.497885 -0.890670  0.845937
2001-05-23 -0.482382  0.850614  0.461546 -0.616786
2001-05-30 -1.290559  0.511037 -0.271255 -1.080155

In [84]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000', '1/2/2000',
                          '1/3/2000'])
dup_ts = Series(np.arange(5), index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int64

In [85]:
dup_ts.index.is_unique

False

In [88]:
dup_ts['1/3/2000']

4

In [89]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int64

In [90]:
grouped = dup_ts.groupby(level=0)

In [91]:
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int64

In [92]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

In [93]:
ts

2011-01-02    0.040295
2011-01-05    0.092602
2011-01-07    0.812762
2011-01-08    1.150607
2011-01-10    3.150982
2011-01-12   -0.340508
dtype: float64

In [99]:
ts.resample('S')

2011-01-02 00:00:00    0.040295
2011-01-02 00:00:01         NaN
2011-01-02 00:00:02         NaN
2011-01-02 00:00:03         NaN
2011-01-02 00:00:04         NaN
2011-01-02 00:00:05         NaN
                         ...
2011-01-11 23:59:55         NaN
2011-01-11 23:59:56         NaN
2011-01-11 23:59:57         NaN
2011-01-11 23:59:58         NaN
2011-01-11 23:59:59         NaN
2011-01-12 00:00:00   -0.340508
Freq: S, dtype: float64

In [100]:
index = pd.date_range('4/1/2012', '6/1/2012')
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D', tz=None)

In [101]:
pd.date_range(start='4/1/2012', periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D', tz=None)

In [102]:
pd.date_range(end='6/1/2012', periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D', tz=None)

In [103]:
pd.date_range('1/1/2000', '12/1/2000', freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM', tz=None)

In [104]:
pd.date_range('5/2/2012 12:56:31', periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D', tz=None)

In [105]:
pd.date_range('5/2/2012 12:56:32', periods=5, normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D', tz=None)

In [106]:
from pandas.tseries.offsets import Hour, Minute

In [107]:
hour = Hour()
hour

In [108]:
print hour

<Hour>

In [109]:
four_hours = Hour(4)

In [110]:
four_hours

In [111]:
pd.date_range('1/1/2000', '1/3/2000 23:59', freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H', tz=None)

In [112]:
Hour(2) + Minute(30)

In [113]:
pd.date_range('1/1/2000', periods=10, freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T', tz=None)

In [114]:
rng = pd.date_range('1/1/2012', '9/1/2012', freq='WOM-3FRI')

In [115]:
list(rng)

[Timestamp('2012-01-20 00:00:00', offset='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', offset='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', offset='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', offset='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', offset='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', offset='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', offset='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', offset='WOM-3FRI')]

In [116]:
ts = Series(np.random.randn(4),
            index=pd.date_range('1/1/2000', periods=4, freq='M'))
ts

2000-01-31    1.205945
2000-02-29    0.952018
2000-03-31   -1.019494
2000-04-30   -0.248126
Freq: M, dtype: float64

In [117]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31    1.205945
2000-04-30    0.952018
Freq: M, dtype: float64

In [118]:
ts.shift(-2)

2000-01-31   -1.019494
2000-02-29   -0.248126
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [124]:
ts / ts.shift(1) -1

2000-01-31         NaN
2000-02-29   -0.210563
2000-03-31   -2.070877
2000-04-30   -0.756618
Freq: M, dtype: float64

In [130]:
ts / (ts.shift(1) -1)

2000-01-31          NaN
2000-02-29     4.622669
2000-03-31    21.247323
2000-04-30     0.122865
Freq: M, dtype: float64

In [126]:
ts / ts.shift(1)

2000-01-31         NaN
2000-02-29    0.789437
2000-03-31   -1.070877
2000-04-30    0.243382
Freq: M, dtype: float64

In [131]:
ts.shift(2, freq='M')

2000-03-31    1.205945
2000-04-30    0.952018
2000-05-31   -1.019494
2000-06-30   -0.248126
Freq: M, dtype: float64

In [132]:
ts

2000-01-31    1.205945
2000-02-29    0.952018
2000-03-31   -1.019494
2000-04-30   -0.248126
Freq: M, dtype: float64

In [133]:
ts.shift(3, freq='D')

2000-02-03    1.205945
2000-03-03    0.952018
2000-04-03   -1.019494
2000-05-03   -0.248126
dtype: float64

In [134]:
ts.shift(1, freq='3D')

2000-02-03    1.205945
2000-03-03    0.952018
2000-04-03   -1.019494
2000-05-03   -0.248126
dtype: float64

In [135]:
from pandas.tseries.offsets import Day, MonthEnd

In [136]:
now = datetime(2011, 11, 17)

In [137]:
now + 3 * Day()

Timestamp('2011-11-20 00:00:00')

In [138]:
now + MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [139]:
now + MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [140]:
MonthEnd()

In [145]:
pd.date_range(start=now, freq='M', periods=1)

DatetimeIndex(['2011-11-30'], dtype='datetime64[ns]', freq='M', tz=None)

In [146]:
MonthEnd()

In [147]:
offset = MonthEnd()

In [148]:
offset

In [149]:
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [150]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [151]:
ts = Series(np.random.randn(20),
            index=pd.date_range('1/15/2000', periods=20, freq='4d'))
ts.groupby(offset.rollforward).mean()

2000-01-31    0.561997
2000-02-29   -0.243559
2000-03-31    0.047628
dtype: float64

In [152]:
ts

2000-01-15    0.470889
2000-01-19    1.198826
2000-01-23    0.906740
2000-01-27    0.504530
2000-01-31   -0.271001
2000-02-04   -0.228530
                ...
2000-03-11   -1.415877
2000-03-15    0.909641
2000-03-19    1.385581
2000-03-23   -0.277268
2000-03-27   -2.873758
2000-03-31   -0.050948
Freq: 4D, dtype: float64

In [153]:
ts.resample('M', how='mean')

2000-01-31    0.561997
2000-02-29   -0.243559
2000-03-31    0.047628
Freq: M, dtype: float64

In [154]:
import pytz

In [156]:
pytz.common_timezones[:5]

['Africa/Abidjan',
 'Africa/Accra',
 'Africa/Addis_Ababa',
 'Africa/Algiers',
 'Africa/Asmara']

In [159]:
tz = pytz.timezone('Africa/Algiers')

In [160]:
tz

In [161]:
rng = pd.date_range('3/9/2012 9:30', periods=6, freq='D')
ts = Series(np.random.randn(len(rng)), index=rng)

In [162]:
print(ts.index.tz)

None

In [163]:
rng

DatetimeIndex(['2012-03-09 09:30:00', '2012-03-10 09:30:00',
               '2012-03-11 09:30:00', '2012-03-12 09:30:00',
               '2012-03-13 09:30:00', '2012-03-14 09:30:00'],
              dtype='datetime64[ns]', freq='D', tz=None)

In [164]:
ts = Series(np.random.randn(len(rng)), index=rng)

In [165]:
ts

2012-03-09 09:30:00   -0.288342
2012-03-10 09:30:00    0.389137
2012-03-11 09:30:00   -1.344372
2012-03-12 09:30:00    0.542259
2012-03-13 09:30:00    0.281440
2012-03-14 09:30:00    1.511034
Freq: D, dtype: float64

In [166]:
pd.date_range('3/9/2012 9:30', periods=10, freq='D', tz='UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns]', freq='D', tz='UTC')

In [167]:
ts_utc= ts.tz_localize('UTC')

In [168]:
ts_utc

2012-03-09 09:30:00+00:00   -0.288342
2012-03-10 09:30:00+00:00    0.389137
2012-03-11 09:30:00+00:00   -1.344372
2012-03-12 09:30:00+00:00    0.542259
2012-03-13 09:30:00+00:00    0.281440
2012-03-14 09:30:00+00:00    1.511034
Freq: D, dtype: float64

In [169]:
ts_utc.index

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns]', freq='D', tz='UTC')

In [171]:
ts_utc.tz_convert('US/Eastern')

2012-03-09 04:30:00-05:00   -0.288342
2012-03-10 04:30:00-05:00    0.389137
2012-03-11 05:30:00-04:00   -1.344372
2012-03-12 05:30:00-04:00    0.542259
2012-03-13 05:30:00-04:00    0.281440
2012-03-14 05:30:00-04:00    1.511034
Freq: D, dtype: float64

In [172]:
ts_eastern = ts.tz_localize('US/Eastern')

In [173]:
ts_eastern.tz_convert('UTC')

2012-03-09 14:30:00+00:00   -0.288342
2012-03-10 14:30:00+00:00    0.389137
2012-03-11 13:30:00+00:00   -1.344372
2012-03-12 13:30:00+00:00    0.542259
2012-03-13 13:30:00+00:00    0.281440
2012-03-14 13:30:00+00:00    1.511034
Freq: D, dtype: float64

In [174]:
ts_eastern.tz_convert('Europe/Berlin')

2012-03-09 15:30:00+01:00   -0.288342
2012-03-10 15:30:00+01:00    0.389137
2012-03-11 14:30:00+01:00   -1.344372
2012-03-12 14:30:00+01:00    0.542259
2012-03-13 14:30:00+01:00    0.281440
2012-03-14 14:30:00+01:00    1.511034
Freq: D, dtype: float64

In [175]:
ts.index.tz_localize('Asia/Shanghai')

DatetimeIndex(['2012-03-09 09:30:00+08:00', '2012-03-10 09:30:00+08:00',
               '2012-03-11 09:30:00+08:00', '2012-03-12 09:30:00+08:00',
               '2012-03-13 09:30:00+08:00', '2012-03-14 09:30:00+08:00'],
              dtype='datetime64[ns]', freq='D', tz='Asia/Shanghai')

In [176]:
stamp = pd.Timestamp('2011-03-12 04:00')

In [177]:
stamp_utc = stamp.tz_localize('utc')

In [178]:
stamp_utc.tz_convert('US/Eastern')

Timestamp('2011-03-11 23:00:00-0500', tz='US/Eastern')

In [179]:
stamp_moscow = pd.Timestamp('2011-03-12 04:00', tz='Europe/Moscow')

In [180]:
stamp_moscow

Timestamp('2011-03-12 04:00:00+0300', tz='Europe/Moscow')

In [181]:
stamp_utc.value

1299902400000000000

In [182]:
stamp_utc.tz_convert('US/Eastern').value

1299902400000000000

In [190]:
from pandas.tseries.offsets import Hour

In [191]:
stamp = pd.Timestamp('2012-03-12 01:30', tz='US/Eastern')

In [192]:
stamp

Timestamp('2012-03-12 01:30:00-0400', tz='US/Eastern')

In [193]:
stamp + Hour()

Timestamp('2012-03-12 02:30:00-0400', tz='US/Eastern')

In [194]:
stamp + 2 * Hour()

Timestamp('2012-03-12 03:30:00-0400', tz='US/Eastern')

In [195]:
stamp = pd.Timestamp('2012-11-04 00:30', tz='US/Eastern')

In [196]:
stamp

Timestamp('2012-11-04 00:30:00-0400', tz='US/Eastern')

In [197]:
stamp + 2 * Hour()

Timestamp('2012-11-04 01:30:00-0500', tz='US/Eastern')

In [198]:
rng = pd.date_range('3/7/2012 9:30', periods=10, freq='B')

In [199]:
ts = Series(np.random.randn(len(rng)), index=rng)
ts

2012-03-07 09:30:00    0.708238
2012-03-08 09:30:00   -0.176014
2012-03-09 09:30:00    0.666667
2012-03-12 09:30:00    0.596549
2012-03-13 09:30:00    0.413716
2012-03-14 09:30:00    0.238834
2012-03-15 09:30:00   -1.942324
2012-03-16 09:30:00    0.696152
2012-03-19 09:30:00    0.757217
2012-03-20 09:30:00    0.099743
Freq: B, dtype: float64

In [200]:
ts1 = ts[:7].tz_localize('Europe/London')

In [201]:
ts2 = ts1[2:].tz_convert('Europe/Moscow')

In [202]:
result = ts1 + ts2

In [203]:
result.index

DatetimeIndex(['2012-03-07 09:30:00+00:00', '2012-03-08 09:30:00+00:00',
               '2012-03-09 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00'],
              dtype='datetime64[ns]', freq='B', tz='UTC')

In [204]:
p = pd.Period(2007, freq='A-DEC')

In [205]:
p

Period('2007', 'A-DEC')

In [206]:
p + 5

Period('2012', 'A-DEC')

In [207]:
p - 2

Period('2005', 'A-DEC')

In [208]:
pd.Period('2014', freq='A-DEC') - p

7

In [209]:
rng = pd.period_range('1/1/2000', '6/30/2000', freq='M')

In [210]:
rng

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='int64', freq='M')

In [211]:
Series(np.random.randn(6), index=rng)

2000-01    0.022743
2000-02    1.035659
2000-03   -0.071546
2000-04   -0.131710
2000-05    0.303078
2000-06   -0.921317
Freq: M, dtype: float64

In [212]:
values = ['2001Q3', '2002Q2', '2003Q1']

In [213]:
index = pd.PeriodIndex(values, freq='Q-DEC')

In [214]:
index

PeriodIndex(['2001Q3', '2002Q2', '2003Q1'], dtype='int64', freq='Q-DEC')

In [215]:
p = pd.Period('2007', freq='A-DEC')

In [216]:
p.asfreq('M', how='start')

Period('2007-01', 'M')

In [219]:
p.asfreq('M', how='end')

Period('2007-12', 'M')

In [220]:
p = pd.Period('2007', freq='A-JUN')
p.asfreq('M', 'start')

Period('2006-07', 'M')

In [221]:
p = pd.Period('2012Q4', freq='Q-JAN')

In [222]:
p

Period('2012Q4', 'Q-JAN')

In [223]:
p.asfreq('D', 'start')

Period('2011-11-01', 'D')

In [224]:
p.asfreq('D', 'end')

Period('2012-01-31', 'D')

In [225]:
p4pm = (p.asfreq('B', 'e') - 1).asfreq('T', 's') + 16 * 60
p4pm

Period('2012-01-30 16:00', 'T')

In [226]:
p4pm.to_timestamp()

Timestamp('2012-01-30 16:00:00')

In [227]:
rng = pd.period_range('2011Q3', '2012Q4', freq='Q-JAN')

In [228]:
ts = Series(np.arange(len(rng)), index=rng)

In [229]:
ts

2011Q3    0
2011Q4    1
2012Q1    2
2012Q2    3
2012Q3    4
2012Q4    5
Freq: Q-JAN, dtype: int64

In [230]:
rng = pd.date_range('1/1/2000', periods=3, freq='M')

In [231]:
ts = Series(randn(3), index=rng)

In [232]:
pts = ts.to_period()

In [233]:
ts

2000-01-31    1.435551
2000-02-29   -0.112742
2000-03-31    0.814592
Freq: M, dtype: float64

In [234]:
pts

2000-01    1.435551
2000-02   -0.112742
2000-03    0.814592
Freq: M, dtype: float64

In [235]:
rng = pd.date_range('1/29/2000', periods=6, freq='D')
ts2 = Series(randn(6), index=rng)
ts2.to_period('M')

2000-01    0.517971
2000-01    0.705786
2000-01    1.214535
2000-02   -1.175699
2000-02    1.535225
2000-02    0.170850
Freq: M, dtype: float64

In [236]:
pts = ts.to_period()
pts

2000-01    1.435551
2000-02   -0.112742
2000-03    0.814592
Freq: M, dtype: float64

In [237]:
pts.to_timestamp(how='end')

2000-01-31    1.435551
2000-02-29   -0.112742
2000-03-31    0.814592
Freq: M, dtype: float64

In [238]:
data = pd.read_csv('ch08/macrodata.csv')
data.year

0      1959
1      1959
2      1959
3      1959
4      1960
5      1960
       ...
197    2008
198    2008
199    2008
200    2009
201    2009
202    2009
Name: year, dtype: float64

In [239]:
data.quarter

0      1
1      2
2      3
3      4
4      1
5      2
      ..
197    2
198    3
199    4
200    1
201    2
202    3
Name: quarter, dtype: float64

In [240]:
index = pd.PeriodIndex(year=data.year, quarter=data.quarter, freq='Q-DEC')
index

PeriodIndex(['1959Q1', '1959Q2', '1959Q3', '1959Q4', '1960Q1', '1960Q2',
             '1960Q3', '1960Q4', '1961Q1', '1961Q2',
             ...
             '2007Q2', '2007Q3', '2007Q4', '2008Q1', '2008Q2', '2008Q3',
             '2008Q4', '2009Q1', '2009Q2', '2009Q3'],
            dtype='int64', length=203, freq='Q-DEC')

In [241]:
data.index = index

In [242]:
data.infl

1959Q1    0.00
1959Q2    2.34
1959Q3    2.74
1959Q4    0.27
1960Q1    2.31
1960Q2    0.14
          ...
2008Q2    8.53
2008Q3   -3.16
2008Q4   -8.79
2009Q1    0.94
2009Q2    3.37
2009Q3    3.56
Freq: Q-DEC, Name: infl, dtype: float64

In [243]:
rng = pd.date_range('1/1/2000', periods=100, freq='D')
ts = Series(randn(len(rng)), index=rng)
ts.resample('M', how='mean')

2000-01-31    0.043898
2000-02-29    0.408075
2000-03-31    0.044784
2000-04-30    0.174167
Freq: M, dtype: float64

In [244]:
ts.resample('M', how='mean', kind='period')

2000-01    0.043898
2000-02    0.408075
2000-03    0.044784
2000-04    0.174167
Freq: M, dtype: float64

In [245]:
rng = pd.date_range('1/1/2000', periods=12, freq='T')
ts = Series(np.arange(12), index=rng)
ts

2000-01-01 00:00:00     0
2000-01-01 00:01:00     1
2000-01-01 00:02:00     2
2000-01-01 00:03:00     3
2000-01-01 00:04:00     4
2000-01-01 00:05:00     5
2000-01-01 00:06:00     6
2000-01-01 00:07:00     7
2000-01-01 00:08:00     8
2000-01-01 00:09:00     9
2000-01-01 00:10:00    10
2000-01-01 00:11:00    11
Freq: T, dtype: int64

In [246]:
ts.resample('5min', how='sum')

2000-01-01 00:00:00    10
2000-01-01 00:05:00    35
2000-01-01 00:10:00    21
Freq: 5T, dtype: int64

In [247]:
ts.resample('5min', how='sum', closed='left')

2000-01-01 00:00:00    10
2000-01-01 00:05:00    35
2000-01-01 00:10:00    21
Freq: 5T, dtype: int64

In [248]:
ts.resample('5min', how='sum', closed='left', label='left')

2000-01-01 00:00:00    10
2000-01-01 00:05:00    35
2000-01-01 00:10:00    21
Freq: 5T, dtype: int64

In [249]:
ts.resample('5min', how='sum', loffset='-1s')

1999-12-31 23:59:59    10
2000-01-01 00:04:59    35
2000-01-01 00:09:59    21
Freq: 5T, dtype: int64

In [250]:
ts.resample('5min', how='ohlc')
# note: output changed because of changed defaults

                     open  high  low  close
2000-01-01 00:00:00     0     4    0      4
2000-01-01 00:05:00     5     9    5      9
2000-01-01 00:10:00    10    11   10     11

In [251]:
rng = pd.date_range('1/1/2000', periods=100, freq='D')
ts = Series(np.arange(100), index=rng)
ts.groupby(lambda x: x.month).mean()

1    15
2    45
3    75
4    95
dtype: int64

In [252]:
ts.groupby(lambda x: x.weekday).mean()

0    47.5
1    48.5
2    49.5
3    50.5
4    51.5
5    49.0
6    50.0
dtype: float64

In [253]:
frame = DataFrame(np.random.randn(2, 4),
                  index=pd.date_range('1/1/2000', periods=2, freq='W-WED'),
                  columns=['Colorado', 'Texas', 'New York', 'Ohio'])
frame

            Colorado     Texas  New York      Ohio
2000-01-05  0.984623 -0.547770  1.401032 -0.960749
2000-01-12  0.378915 -0.822245  0.408188 -1.045723

In [254]:
df_daily = frame.resample('D')
df_daily

            Colorado     Texas  New York      Ohio
2000-01-05  0.984623 -0.547770  1.401032 -0.960749
2000-01-06       NaN       NaN       NaN       NaN
2000-01-07       NaN       NaN       NaN       NaN
2000-01-08       NaN       NaN       NaN       NaN
2000-01-09       NaN       NaN       NaN       NaN
2000-01-10       NaN       NaN       NaN       NaN
2000-01-11       NaN       NaN       NaN       NaN
2000-01-12  0.378915 -0.822245  0.408188 -1.045723

In [255]:
frame.resample('D', fill_method='ffill')

            Colorado     Texas  New York      Ohio
2000-01-05  0.984623 -0.547770  1.401032 -0.960749
2000-01-06  0.984623 -0.547770  1.401032 -0.960749
2000-01-07  0.984623 -0.547770  1.401032 -0.960749
2000-01-08  0.984623 -0.547770  1.401032 -0.960749
2000-01-09  0.984623 -0.547770  1.401032 -0.960749
2000-01-10  0.984623 -0.547770  1.401032 -0.960749
2000-01-11  0.984623 -0.547770  1.401032 -0.960749
2000-01-12  0.378915 -0.822245  0.408188 -1.045723

In [257]:
frame.resample('D', fill_method='ffill', limit=2)

            Colorado     Texas  New York      Ohio
2000-01-05  0.984623 -0.547770  1.401032 -0.960749
2000-01-06  0.984623 -0.547770  1.401032 -0.960749
2000-01-07  0.984623 -0.547770  1.401032 -0.960749
2000-01-08       NaN       NaN       NaN       NaN
2000-01-09       NaN       NaN       NaN       NaN
2000-01-10       NaN       NaN       NaN       NaN
2000-01-11       NaN       NaN       NaN       NaN
2000-01-12  0.378915 -0.822245  0.408188 -1.045723

In [258]:
frame.resample('W-THU', fill_method='ffill')

            Colorado     Texas  New York      Ohio
2000-01-06  0.984623 -0.547770  1.401032 -0.960749
2000-01-13  0.378915 -0.822245  0.408188 -1.045723

In [259]:
frame = DataFrame(np.random.randn(24, 4),
                  index=pd.period_range('1-2000', '12-2001', freq='M'),
                  columns=['Colorado', 'Texas', 'New York', 'Ohio'])
frame[:5]

         Colorado     Texas  New York      Ohio
2000-01  1.376177  0.591327  0.576753 -1.904455
2000-02  1.591038  0.365342 -0.110215  0.094772
2000-03 -0.536014  1.200271 -0.533225  0.610232
2000-04  2.055946  0.099236  1.189647 -1.532635
2000-05  0.424473  1.422748  0.087445  0.073986

In [260]:
annual_frame = frame.resample('A-DEC', how='mean')
annual_frame

      Colorado     Texas  New York      Ohio
2000  0.145683  0.037076  0.159999 -0.153019
2001  0.443686 -0.574820 -0.456152  0.324796

In [272]:
annual_frame.resample('Q-DEC', fill_method='ffill')

        Colorado     Texas  New York      Ohio
2000Q1  0.145683  0.037076  0.159999 -0.153019
2000Q2  0.145683  0.037076  0.159999 -0.153019
2000Q3  0.145683  0.037076  0.159999 -0.153019
2000Q4  0.145683  0.037076  0.159999 -0.153019
2001Q1  0.443686 -0.574820 -0.456152  0.324796
2001Q2  0.443686 -0.574820 -0.456152  0.324796
2001Q3  0.443686 -0.574820 -0.456152  0.324796
2001Q4  0.443686 -0.574820 -0.456152  0.324796

In [273]:
annual_frame.resample('Q-DEC', fill_method='ffill', convention='start')

        Colorado     Texas  New York      Ohio
2000Q1  0.145683  0.037076  0.159999 -0.153019
2000Q2  0.145683  0.037076  0.159999 -0.153019
2000Q3  0.145683  0.037076  0.159999 -0.153019
2000Q4  0.145683  0.037076  0.159999 -0.153019
2001Q1  0.443686 -0.574820 -0.456152  0.324796
2001Q2  0.443686 -0.574820 -0.456152  0.324796
2001Q3  0.443686 -0.574820 -0.456152  0.324796
2001Q4  0.443686 -0.574820 -0.456152  0.324796

In [274]:
close_px_all = pd.read_csv('ch09/stock_px.csv', parse_dates=True, index_col=0)
close_px = close_px_all[['AAPL', 'MSFT', 'XOM']]
close_px = close_px.resample('B', fill_method='ffill')
close_px.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2292 entries, 2003-01-02 to 2011-10-14
Freq: B
Data columns (total 3 columns):
AAPL    2292 non-null float64
MSFT    2292 non-null float64
XOM     2292 non-null float64
dtypes: float64(3)
memory usage: 71.6 KB

In [275]:
close_px['AAPL'].plot()

In [276]:
close_px.ix['2009'].plot()

In [277]:
close_px['AAPL'].ix['01-2011':'03-2011'].plot()

In [278]:
appl_q = close_px['AAPL'].resample('Q-DEC', fill_method='ffill')
appl_q.ix['2009':].plot()

In [279]:
close_px = close_px.asfreq('B').fillna(method='ffill')

In [280]:
close_px.AAPL.plot()
pd.rolling_mean(close_px.AAPL, 250).plot()

In [281]:
plt.figure()

In [282]:
appl_std250 = pd.rolling_std(close_px.AAPL, 250, min_periods=10)
appl_std250[5:12]

2003-01-09         NaN
2003-01-10         NaN
2003-01-13         NaN
2003-01-14         NaN
2003-01-15    0.077496
2003-01-16    0.074760
2003-01-17    0.112368
Freq: B, dtype: float64

In [283]:
appl_std250.plot()

In [284]:
expanding_mean = lambda x: rolling_mean(x, len(x), min_periods=1)

In [285]:
pd.rolling_mean(close_px, 60).plot(logy=True)

In [286]:
plt.close('all')

In [287]:
fig, axes = plt.subplots(nrows=2, ncols=1, sharex=True, sharey=True,
                         figsize=(12, 7))

aapl_px = close_px.AAPL['2005':'2009']

ma60 = pd.rolling_mean(aapl_px, 60, min_periods=50)
ewma60 = pd.ewma(aapl_px, span=60)

aapl_px.plot(style='k-', ax=axes[0])
ma60.plot(style='k--', ax=axes[0])
aapl_px.plot(style='k-', ax=axes[1])
ewma60.plot(style='k--', ax=axes[1])
axes[0].set_title('Simple MA')
axes[1].set_title('Exponentially-weighted MA')

In [288]:
close_px
spx_px = close_px_all['SPX']

In [289]:
spx_rets = spx_px / spx_px.shift(1) - 1
returns = close_px.pct_change()
corr = pd.rolling_corr(returns.AAPL, spx_rets, 125, min_periods=100)
corr.plot()

In [290]:
corr = pd.rolling_corr(returns, spx_rets, 125, min_periods=100)
corr.plot()

In [291]:
from scipy.stats import percentileofscore
score_at_2percent = lambda x: percentileofscore(x, 0.02)
result = pd.rolling_apply(returns.AAPL, 250, score_at_2percent)
result.plot()

In [292]:
rng = pd.date_range('1/1/2000', periods=10000000, freq='10ms')
ts = Series(np.random.randn(len(rng)), index=rng)
ts

2000-01-01 00:00:00.000    0.461726
2000-01-01 00:00:00.010   -0.590821
2000-01-01 00:00:00.020    0.163186
2000-01-01 00:00:00.030   -0.995728
2000-01-01 00:00:00.040    0.479598
2000-01-01 00:00:00.050    0.829492
                             ...
2000-01-02 03:46:39.940   -1.865497
2000-01-02 03:46:39.950   -0.778313
2000-01-02 03:46:39.960   -0.544116
2000-01-02 03:46:39.970    0.122622
2000-01-02 03:46:39.980   -0.885238
2000-01-02 03:46:39.990    0.292584
Freq: 10L, dtype: float64

In [293]:
ts.resample('15min', how='ohlc').info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 112 entries, 2000-01-01 00:00:00 to 2000-01-02 03:45:00
Freq: 15T
Data columns (total 4 columns):
open     112 non-null float64
high     112 non-null float64
low      112 non-null float64
close    112 non-null float64
dtypes: float64(4)
memory usage: 4.4 KB

In [294]:
%timeit ts.resample('15min', how='ohlc')

10 loops, best of 3: 40 ms per loop

In [295]:
rng = pd.date_range('1/1/2000', periods=10000000, freq='1s')
ts = Series(np.random.randn(len(rng)), index=rng)
%timeit ts.resample('15s', how='ohlc')

10 loops, best of 3: 75 ms per loop