In [1]:
from __future__ import division
from pandas import Series, DataFrame
import pandas as pd
from numpy.random import randn
import numpy as np
pd.options.display.max_rows = 12
np.set_printoptions(precision=4, suppress=True)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(12, 6))

In [2]:
%matplotlib inline

In [3]:
close_px = pd.read_csv('ch11/stock_px.csv', parse_dates=True, index_col=0)
volume = pd.read_csv('ch11/volume.csv', parse_dates=True, index_col=0)
prices = close_px.ix['2011-09-05':'2011-09-14', ['AAPL', 'JNJ', 'SPX', 'XOM']]
volume = volume.ix['2011-09-05':'2011-09-12', ['AAPL', 'JNJ', 'XOM']]

In [4]:
prices

              AAPL    JNJ      SPX    XOM
2011-09-06  379.74  64.64  1165.24  71.15
2011-09-07  383.93  65.43  1198.62  73.65
2011-09-08  384.14  64.95  1185.90  72.82
2011-09-09  377.48  63.64  1154.23  71.01
2011-09-12  379.94  63.59  1162.27  71.84
2011-09-13  384.62  63.61  1172.87  71.65
2011-09-14  389.30  63.73  1188.68  72.64

In [7]:
volume

                AAPL       JNJ       XOM
2011-09-06  18173500  15848300  25416300
2011-09-07  12492000  10759700  23108400
2011-09-08  14839800  15551500  22434800
2011-09-09  20171900  17008200  27969100
2011-09-12  16697300  13448200  26205800

In [8]:
prices * volume

                  AAPL         JNJ  SPX         XOM
2011-09-06  6901204890  1024434112  NaN  1808369745
2011-09-07  4796053560   704007171  NaN  1701933660
2011-09-08  5700560772  1010069925  NaN  1633702136
2011-09-09  7614488812  1082401848  NaN  1986085791
2011-09-12  6343972162   855171038  NaN  1882624672
2011-09-13         NaN         NaN  NaN         NaN
2011-09-14         NaN         NaN  NaN         NaN

In [9]:
prices.align(volume, join='inner')

(              AAPL    JNJ    XOM
 2011-09-06  379.74  64.64  71.15
 2011-09-07  383.93  65.43  73.65
 2011-09-08  384.14  64.95  72.82
 2011-09-09  377.48  63.64  71.01
 2011-09-12  379.94  63.59  71.84,                 AAPL       JNJ       XOM
 2011-09-06  18173500  15848300  25416300
 2011-09-07  12492000  10759700  23108400
 2011-09-08  14839800  15551500  22434800
 2011-09-09  20171900  17008200  27969100
 2011-09-12  16697300  13448200  26205800)

In [10]:
vwap = (prices * volume).sum() / volume.sum()

In [11]:
vwap

AAPL    380.655181
JNJ      64.394769
SPX            NaN
XOM      72.024288
dtype: float64

In [12]:
vwap.dropna()

AAPL    380.655181
JNJ      64.394769
XOM      72.024288
dtype: float64

In [13]:
s1 = Series(range(3), index=['a', 'b', 'c'])
s2 = Series(range(4), index=['d', 'b', 'c', 'e'])
s3 = Series(range(3), index=['f', 'a', 'c'])
DataFrame({'one': s1, 'two': s2, 'three': s3})

   one  three  two
a    0      1  NaN
b    1    NaN    1
c    2      2    2
d  NaN    NaN    0
e  NaN    NaN    3
f  NaN      0  NaN

In [14]:
DataFrame({'one': s1, 'two': s2, 'three': s3}, index=list('face'))

   one  three  two
f  NaN      0  NaN
a    0      1  NaN
c    2      2    2
e  NaN    NaN    3

In [15]:
ts1 = Series(np.random.randn(3),
             index=pd.date_range('2012-6-13', periods=3, freq='W-WED'))
ts1

2012-06-13   -0.382468
2012-06-20   -0.266448
2012-06-27   -0.332331
Freq: W-WED, dtype: float64

In [16]:
ts1.resample('B')

2012-06-13   -0.382468
2012-06-14         NaN
2012-06-15         NaN
2012-06-18         NaN
2012-06-19         NaN
2012-06-20   -0.266448
2012-06-21         NaN
2012-06-22         NaN
2012-06-25         NaN
2012-06-26         NaN
2012-06-27   -0.332331
Freq: B, dtype: float64

In [17]:
ts1.resample('B', fill_method='ffill')

2012-06-13   -0.382468
2012-06-14   -0.382468
2012-06-15   -0.382468
2012-06-18   -0.382468
2012-06-19   -0.382468
2012-06-20   -0.266448
2012-06-21   -0.266448
2012-06-22   -0.266448
2012-06-25   -0.266448
2012-06-26   -0.266448
2012-06-27   -0.332331
Freq: B, dtype: float64

In [19]:
dates = pd.DatetimeIndex(['2012-6-12', '2012-6-17', '2012-6-18',
                          '2012-6-21', '2012-6-22', '2012-6-29'])
ts2 = Series(np.random.randn(6), index=dates)
ts2

2012-06-12   -1.291000
2012-06-17    0.517069
2012-06-18   -1.193245
2012-06-21    0.476195
2012-06-22    1.696545
2012-06-29   -1.461719
dtype: float64

In [20]:
ts1.reindex(ts2.index, method='ffill')

2012-06-12         NaN
2012-06-17   -0.382468
2012-06-18   -0.382468
2012-06-21   -0.266448
2012-06-22   -0.266448
2012-06-29   -0.332331
dtype: float64

In [21]:
ts2 + ts1.reindex(ts2.index, method='ffill')

2012-06-12         NaN
2012-06-17    0.134601
2012-06-18   -1.575713
2012-06-21    0.209747
2012-06-22    1.430097
2012-06-29   -1.794050
dtype: float64

In [22]:
gdp = Series([1.78, 1.94, 2.08, 2.01, 2.15, 2.31, 2.46],
             index=pd.period_range('1984Q2', periods=7, freq='Q-SEP'))
infl = Series([0.025, 0.045, 0.037, 0.04],
              index=pd.period_range('1982', periods=4, freq='A-DEC'))
gdp

1984Q2    1.78
1984Q3    1.94
1984Q4    2.08
1985Q1    2.01
1985Q2    2.15
1985Q3    2.31
1985Q4    2.46
Freq: Q-SEP, dtype: float64

In [23]:
infl

1982    0.025
1983    0.045
1984    0.037
1985    0.040
Freq: A-DEC, dtype: float64

In [24]:
infl_q = infl.asfreq('Q-SEP', how='end')

In [25]:
infl_q

1983Q1    0.025
1984Q1    0.045
1985Q1    0.037
1986Q1    0.040
Freq: Q-SEP, dtype: float64

In [26]:
infl_q.reindex(gdp.index, method='ffill')

1984Q2    0.045
1984Q3    0.045
1984Q4    0.045
1985Q1    0.037
1985Q2    0.037
1985Q3    0.037
1985Q4    0.037
Freq: Q-SEP, dtype: float64

In [27]:
# Make an intraday date range and time series
rng = pd.date_range('2012-06-01 09:30', '2012-06-01 15:59', freq='T')
# Make a 5-day series of 9:30-15:59 values
rng = rng.append([rng + pd.offsets.BDay(i) for i in range(1, 4)])
ts = Series(np.arange(len(rng), dtype=float), index=rng)
ts

2012-06-01 09:30:00       0
2012-06-01 09:31:00       1
2012-06-01 09:32:00       2
2012-06-01 09:33:00       3
2012-06-01 09:34:00       4
2012-06-01 09:35:00       5
                       ...
2012-06-06 15:54:00    1554
2012-06-06 15:55:00    1555
2012-06-06 15:56:00    1556
2012-06-06 15:57:00    1557
2012-06-06 15:58:00    1558
2012-06-06 15:59:00    1559
dtype: float64

In [28]:
from datetime import time
ts[time(10, 0)]

2012-06-01 10:00:00      30
2012-06-04 10:00:00     420
2012-06-05 10:00:00     810
2012-06-06 10:00:00    1200
dtype: float64

In [31]:
ts.at_time(time(10, 0))

2012-06-01 10:00:00      30
2012-06-04 10:00:00     420
2012-06-05 10:00:00     810
2012-06-06 10:00:00    1200
dtype: float64

In [32]:
ts.between_time(time(10, 0), time(10, 1))

2012-06-01 10:00:00      30
2012-06-01 10:01:00      31
2012-06-04 10:00:00     420
2012-06-04 10:01:00     421
2012-06-05 10:00:00     810
2012-06-05 10:01:00     811
2012-06-06 10:00:00    1200
2012-06-06 10:01:00    1201
dtype: float64

In [33]:
np.random.seed(12346)

In [34]:
# Set most of the time series randomly to NA
indexer = np.sort(np.random.permutation(len(ts))[700:])
irr_ts = ts.copy()
irr_ts[indexer] = np.nan
irr_ts['2012-06-01 09:50':'2012-06-01 10:00']

2012-06-01 09:50:00    20
2012-06-01 09:51:00   NaN
2012-06-01 09:52:00    22
2012-06-01 09:53:00    23
2012-06-01 09:54:00   NaN
2012-06-01 09:55:00    25
2012-06-01 09:56:00   NaN
2012-06-01 09:57:00   NaN
2012-06-01 09:58:00   NaN
2012-06-01 09:59:00   NaN
2012-06-01 10:00:00   NaN
dtype: float64

In [35]:
selection = pd.date_range('2012-06-01 10:00', periods=4, freq='B')
irr_ts.asof(selection)

2012-06-01 10:00:00      25
2012-06-04 10:00:00     420
2012-06-05 10:00:00     810
2012-06-06 10:00:00    1197
Freq: B, dtype: float64

In [36]:
data1 = DataFrame(np.ones((6, 3), dtype=float),
                  columns=['a', 'b', 'c'],
                  index=pd.date_range('6/12/2012', periods=6))
data2 = DataFrame(np.ones((6, 3), dtype=float) * 2,
                  columns=['a', 'b', 'c'],
                  index=pd.date_range('6/13/2012', periods=6))
spliced = pd.concat([data1.ix[:'2012-06-14'], data2.ix['2012-06-15':]])
spliced

            a  b  c
2012-06-12  1  1  1
2012-06-13  1  1  1
2012-06-14  1  1  1
2012-06-15  2  2  2
2012-06-16  2  2  2
2012-06-17  2  2  2
2012-06-18  2  2  2

In [70]:
data2 = DataFrame(np.ones((6, 4), dtype=float) * 2,
                  columns=['a', 'b', 'c', 'd'],
                  index=pd.date_range('6/13/2012', periods=6))
spliced = pd.concat([data1.ix[:'2012-06-14'], data2.ix['2012-06-15':]])
spliced

            a  b  c   d
2012-06-12  1  1  1 NaN
2012-06-13  1  1  1 NaN
2012-06-14  1  1  1 NaN
2012-06-15  2  2  2   2
2012-06-16  2  2  2   2
2012-06-17  2  2  2   2
2012-06-18  2  2  2   2

In [71]:
spliced_filled = spliced.combine_first(data2)

In [72]:
spliced_filled

            a  b  c   d
2012-06-12  1  1  1 NaN
2012-06-13  1  1  1   2
2012-06-14  1  1  1   2
2012-06-15  2  2  2   2
2012-06-16  2  2  2   2
2012-06-17  2  2  2   2
2012-06-18  2  2  2   2

In [73]:
spliced.update(data2, overwrite=False)

In [74]:
spliced

            a  b  c   d
2012-06-12  1  1  1 NaN
2012-06-13  1  1  1   2
2012-06-14  1  1  1   2
2012-06-15  2  2  2   2
2012-06-16  2  2  2   2
2012-06-17  2  2  2   2
2012-06-18  2  2  2   2

In [75]:
import pandas.io.data as web
price = web.get_data_yahoo('AAPL', '2011-01-01')['Adj Close']
price[-5:]

Date
2016-02-01    95.909571
2016-02-02    93.970098
2016-02-03    95.830001
2016-02-04    96.599998
2016-02-05    94.019997
Name: Adj Close, dtype: float64

In [76]:
price['2011-10-03'] / price['2011-3-01'] - 1

0.072399889918845162

In [77]:
returns = price.pct_change()

In [78]:
ret_index = (1 + returns).cumprod()

In [79]:
ret_index[0] = 1

In [80]:
ret_index

Date
2011-01-03    1.000000
2011-01-04    1.005219
2011-01-05    1.013442
2011-01-06    1.012622
2011-01-07    1.019874
2011-01-10    1.039081
                ...
2016-01-29    2.220438
2016-02-01    2.199680
2016-02-02    2.155198
2016-02-03    2.197855
2016-02-04    2.215515
2016-02-05    2.156342
Name: Adj Close, dtype: float64

In [81]:
m_returns = ret_index.resample('BM', how='last').pct_change()

In [82]:
m_returns['2012']

Date
2012-01-31    0.127111
2012-02-29    0.188311
2012-03-30    0.105284
2012-04-30   -0.025970
2012-05-31   -0.010702
2012-06-29    0.010853
2012-07-31    0.045822
2012-08-31    0.093877
2012-09-28    0.002796
2012-10-31   -0.107600
2012-11-30   -0.012375
2012-12-31   -0.090743
Freq: BM, Name: Adj Close, dtype: float64

In [83]:
m_rets = (1 + returns).resample('M', how='prod', kind='period') - 1
m_rets['2012']

Date
2012-01    0.127111
2012-02    0.188311
2012-03    0.105284
2012-04   -0.025970
2012-05   -0.010702
2012-06    0.010853
2012-07    0.045822
2012-08    0.093877
2012-09    0.002796
2012-10   -0.107600
2012-11   -0.012375
2012-12   -0.090743
Freq: M, Name: Adj Close, dtype: float64

In [84]:
pd.options.display.max_rows = 100
pd.options.display.max_columns = 10
np.random.seed(12345)

In [85]:
import random; random.seed(0)
import string

N = 1000
def rands(n):
    choices = string.ascii_uppercase
    return ''.join([random.choice(choices) for _ in xrange(n)])
tickers = np.array([rands(5) for _ in xrange(N)])

In [86]:
M = 500
df = DataFrame({'Momentum' : np.random.randn(M) / 200 + 0.03,
                'Value' : np.random.randn(M) / 200 + 0.08,
                'ShortInterest' : np.random.randn(M) / 200 - 0.02},
                index=tickers[:M])

In [88]:
ind_names = np.array(['FINANCIAL', 'TECH'])
sampler = np.random.randint(0, len(ind_names), N)
industries = Series(ind_names[sampler], index=tickers,
                    name='industry')

In [89]:
by_industry = df.groupby(industries)
by_industry.mean()

           Momentum  ShortInterest     Value
industry
FINANCIAL  0.029485      -0.020739  0.079929
TECH       0.030407      -0.019609  0.080113

In [90]:
by_industry.describe()

                   Momentum  ShortInterest       Value
industry
FINANCIAL count  246.000000     246.000000  246.000000
          mean     0.029485      -0.020739    0.079929
          std      0.004802       0.004986    0.004548
          min      0.017210      -0.036997    0.067025
          25%      0.026263      -0.024138    0.076638
          50%      0.029261      -0.020833    0.079804
          75%      0.032806      -0.017345    0.082718
          max      0.045884      -0.006322    0.093334
TECH      count  254.000000     254.000000  254.000000
          mean     0.030407      -0.019609    0.080113
          std      0.005303       0.005074    0.004886
          min      0.016778      -0.032682    0.065253
          25%      0.026456      -0.022779    0.076737
          50%      0.030650      -0.019829    0.080296
          75%      0.033602      -0.016923    0.083353
          max      0.049638      -0.003698    0.093081

In [91]:
# Within-Industry Standardize
def zscore(group):
    return (group - group.mean()) / group.std()

df_stand = by_industry.apply(zscore)

In [92]:
df_stand.groupby(industries).agg(['mean', 'std'])

               Momentum     ShortInterest             Value
                   mean std          mean std          mean std
industry
FINANCIAL  1.114736e-15   1  3.081772e-15   1  8.001278e-15   1
TECH      -2.779929e-16   1 -1.910982e-15   1 -7.139521e-15   1

In [93]:
# Within-industry rank descending
ind_rank = by_industry.rank(ascending=False)
ind_rank.groupby(industries).agg(['min', 'max'])

          Momentum      ShortInterest      Value
               min  max           min  max   min  max
industry
FINANCIAL        1  246             1  246     1  246
TECH             1  254             1  254     1  254

In [94]:
# Industry rank and standardize
by_industry.apply(lambda x: zscore(x.rank()))

       Momentum  ShortInterest     Value
VTKGN -0.091346      -0.976696 -1.004802
KUHMP  0.794005       1.299919 -0.358356
XNHTQ -0.541047      -0.836164 -1.679355
GXZVX -0.583207      -1.623142  0.990749
ISXRM  1.572120      -0.265423  0.374314
CLPXZ  1.395171       0.360703 -1.436006
MWGUO -0.074863       0.632931 -0.660154
ASKVR  0.238200      -0.319869  0.102086
AMWGI  1.075068       1.665302  1.580983
WEOGZ  1.412345       0.358356 -1.313972
ULCIN  1.229653       1.257760 -0.822111
YCOSO -1.426398      -0.625366 -0.934536
VOZPP  0.224589      -0.156531  1.313503
LPKOH  0.142920       0.741823  0.619320
EEPRM  1.538823       0.597260 -1.566930
CTWYV  1.117228      -1.510717  0.428622
XYOKS -1.640177       0.700989  0.755434
HVWXP -0.537651       1.572120  0.714600
YPLRZ  1.637195      -0.555101  0.442675
XUCPM -0.619320      -0.469594  0.088474
QVGTD -0.555101       0.259984 -1.468557
FUIVC  0.524040      -0.496817 -1.721846
DSBOX  1.708234       0.034029  0.796269
NRAQP -1.259057       0.673766  0.115697
OKJZA -0.639420       0.920483  1.426398
AYEDF -0.020417      -1.612954 -1.626566
UYALC  0.265423       1.177388  1.272668
GFQJE  0.836164       1.552876  1.679355
NBCZF -0.142920      -0.564874 -0.306257
JTVXE  1.496664       0.302143 -1.257760
RZBRV -0.864326       0.020417  0.864326
IGPLE -0.986828      -0.102086 -0.877937
MKONI -1.667400      -1.585731 -0.850714
JVGOA -1.623142      -0.259984  0.836164
TIBHG -0.962643       1.426398  0.583207
YJHJY  0.632931       1.653788  0.224589
QQSKK -1.398291      -1.243706  1.145334
QAFIG  0.456728       0.639420 -0.007027
QJWOK -1.201547      -1.089121 -0.920483
KSKRB  0.597260      -0.021080 -0.049186
LGENM -1.707461      -1.004802 -1.426398
OTWMI -0.077292      -1.454504 -0.512941
MVWVE -1.517674      -1.299891 -0.455983
ZQCSZ -1.103175      -1.145334 -0.484835
KRIFS -1.422394       0.483206  0.142920
AVNCD  0.526994      -0.063239  0.302143
QWHZC  0.292646      -1.463228  0.551263
WKCHL -0.892377      -1.426398  0.245931
UWDNQ  0.583207      -1.187494  0.470782
JWHAB  1.367948       0.183754 -1.150166
...         ...            ...       ...
WKWCB -1.068497      -0.292646 -1.163777
ZTPOI -0.105399       1.018856  1.524770
XWMFR  0.347091       1.449617  1.014051
SZUCZ -0.667526       0.498888  1.201547
WPITP -0.288090      -0.878324 -0.077292
COAUV  0.864271      -0.161612  1.004802
SCPKD -1.299891       1.504063 -1.558508
XYXNW  1.381560      -1.286280 -1.408783
FHXPF -1.580983       1.538823 -0.653473
DFMHT -1.082108       0.210977 -1.272668
HCXRZ  0.782657       0.496817 -0.646543
EWANM -1.510717      -0.667526 -0.948590
DVHXS  0.483206       1.640177 -0.782657
WWUTA -0.333480      -0.115697  0.442371
DFPAD -0.808058      -0.007027 -1.046962
MBIFE  0.414569       0.962643 -0.681579
IWGQT -0.496817      -1.544897 -0.741823
REJHO  0.401537      -1.504063  1.082108
ZFOBJ  0.700989       1.163777 -0.115697
YXCWS  0.660154       1.286280 -0.374314
XLKXN  0.358356       0.245931 -0.105399
TEBLI -0.469594      -1.653788 -1.490451
NIWTJ -0.836164      -0.119452 -0.175665
DSODA  0.484835      -1.538823  1.103175
QNOKM -0.687377       1.367948  0.279034
KCNDR  0.319869      -0.646543 -1.122943
TEFGP -1.061015       1.117228 -1.707461
KXONF -0.251811      -1.436006 -0.891549
CYCDF -1.637195       1.229653 -0.344303
OQLKQ  1.408783       0.809880  0.592097
GUQPA  1.463228       0.279034  0.469594
ITFQZ  0.578486       1.544897 -1.259057
LNFAG -0.415149       1.476840  0.319869
MPVHI  1.014051      -1.558508  1.681011
SRSWC -0.088474      -0.632931 -0.837103
DMPRF -1.626566      -0.401537  1.354337
DXGAH -1.089121      -0.892377 -1.299919
NQTDN  0.344303       1.328025  1.046962
ISJVE -0.006806      -1.572120 -1.327114
ZNLSJ -0.646543      -0.428760 -0.074863
ALHRN -0.737792      -0.948590 -0.962643
VMEDO  1.046962      -1.440451  1.566930
GFYDX -0.709686       1.454504 -1.173440
NYVHM  1.082108       1.109331  1.708234
CJYCG  0.891549      -1.721846 -0.796269
BWRPM -0.238200       0.401537  0.074863
GPSUE  1.681011      -1.395171 -0.238200
QRPSN  0.673766       1.490451 -1.313503
YQQAD  1.623142       0.541047  0.976696
PTDQE  1.286280       1.463228  1.381560

[500 rows x 3 columns]

In [95]:
from numpy.random import rand
fac1, fac2, fac3 = np.random.rand(3, 1000)

ticker_subset = tickers.take(np.random.permutation(N)[:1000])

# Weighted sum of factors plus noise
port = Series(0.7 * fac1 - 1.2 * fac2 + 0.3 * fac3 + rand(1000),
              index=ticker_subset)
factors = DataFrame({'f1': fac1, 'f2': fac2, 'f3': fac3},
                    index=ticker_subset)

In [96]:
factors.corrwith(port)

f1    0.402377
f2   -0.680980
f3    0.168083
dtype: float64

In [97]:
pd.ols(y=port, x=factors).beta

f1           0.761789
f2          -1.208760
f3           0.289865
intercept    0.484477
dtype: float64

In [98]:
def beta_exposure(chunk, factors=None):
    return pd.ols(y=chunk, x=factors).beta

In [99]:
by_ind = port.groupby(industries)
exposures = by_ind.apply(beta_exposure, factors=factors)
exposures.unstack()

                 f1        f2        f3  intercept
industry
FINANCIAL  0.790329 -1.182970  0.275624   0.455569
TECH       0.740857 -1.232882  0.303811   0.508188

In [102]:
px = pd.read_csv('ch11/stock_px.csv')

In [104]:
pd.options.display.max_rows = 10